.navigation  a {
  font-weight: $bold;
 }
 
.navigation .navigation-logo {
  background-color: $smoky-black;
   font-family: $old-standard;
   font-weight: $bold;
   font-size: $xx-large;
   color: #ffffff;

}