
@media (min-width:576px) {
    .newsleter {
        position: relative;
    }

    .newsleter .newsleter-box {  
        background-color: $smoky-black;
        bottom: 0%;
        padding: 1% 2% 3% 3%;
        color: white;
         
    }
    
    .newsleter button {
        display: inline-block;
        position: absolute;
        width: 30.8%;
        top: 37%;
        //left: 77.4%;
        left: 80%;
        transform: rotate(90deg);
        box-sizing: border-box;
        border-radius: 0%;

    }    
}

@media
(min-width:780px) {
    .newsleter {
        position: relative;
        background-color: $smoky-black;
        
    }

    .newsleter .newsleter-box {  
        bottom: 0%;
        padding: 1% 2% 3% 3%;
        color: white;
         
    }
    
  
    .newsleter button {
        display: inline-block;
        position: absolute;
        width: 24%;
        top: 37%;
        left: 84.2%;
        transform: rotate(90deg);
        box-sizing: border-box;
        border-radius: 0%;

    }
}

@media
(min-width:992px) {
    .newsleter {
        width: 60%;
        height: 150px;
        background-color: $smoky-black;
        position: static;
        bottom: 0%;
        padding: 1% 2% 3% 3%;
        color: white;
    }

    .newsleter h2 { 
        padding-top: 2%;
        font-family: $old-standard;
        font-weight: $bold;
        font-size: $xx-large;    
    }

    .newsleter p {
     font-family: $old-standard;
     font-weight: $regular;
     margin: 0%;
    }

.newsleter button {
    width: 19.32%;    
    left: 29.5%;
    transform: rotate(90deg);
    box-sizing: border-box;
    border-radius: 0%;
    position: absolute;
    top: 173%;
    }

    
}

